@font-face {
  font-family: "iconfont"; /* Project id 3329906 */
  src: url('iconfont.woff2?t=1652513758440') format('woff2'),
       url('iconfont.woff?t=1652513758440') format('woff'),
       url('iconfont.ttf?t=1652513758440') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianqie:before {
  content: "\e601";
}

.icon-jianqie1:before {
  content: "\e602";
}

.icon-undo:before {
  content: "\e65a";
}

.icon-redo:before {
  content: "\e65b";
}

.icon-fangda:before {
  content: "\e618";
}

.icon-suoxiao:before {
  content: "\e619";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-suoxiao1:before {
  content: "\ec13";
}

.icon-fangda1:before {
  content: "\ec14";
}

.icon-shanchu:before {
  content: "\e626";
}

.icon-gou:before {
  content: "\e786";
}

.icon-weimingmingwenjianjia_xunhuan:before {
  content: "\e63b";
}

.icon-0-49:before {
  content: "\e606";
}

.icon-nan:before {
  content: "\e625";
}

.icon-nv:before {
  content: "\e628";
}

.icon-xiangyou1:before {
  content: "\e65c";
}

.icon-huyan:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-shangyiye:before {
  content: "\e610";
}

.icon-xiayiye:before {
  content: "\e611";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-fanhuidingbu:before {
  content: "\e623";
}

.icon-shoucang1:before {
  content: "\e627";
}

.icon-xiazai:before {
  content: "\e60c";
}

.icon-xiangyou:before {
  content: "\e62d";
}

.icon-xiangzuo:before {
  content: "\e62e";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-zhuye:before {
  content: "\e83a";
}

.icon-mulu:before {
  content: "\e6f2";
}

