* {
    padding: 0;
    margin: 0;
}

html, body, #app {
    width: 100%;
    height:100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* 版心 */
.main {
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
}
p,span{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
